image: Ubuntu2004
stack: jdk 11
branches:
  only:
    - main
build: off
install:
  - java -jar ./Zadacha1_2/artifacts/app-mbank.jar &
  - chmod +x gradlew
build_script:
  - ./gradlew test --info